@model List<ProfileViewModel>

@if(Model.Count != 0)
{
    foreach(ProfileViewModel p in Model)
    {
        <p>@p.Username</p>
        <a asp-controller="Profile" asp-action="UnfollowUser" asp-route-id="@p.Id">Unfollow</a>
    }
}
else
{
    <h2>You are not currently following any other users</h2>
}
