<form method="post" asp-action="SearchUsers" asp-controller="Profile">
    <label for="keyword">Search for other users</label>
    <input type="text" name="keyword" id="keyword" />
    <input type="submit" />
</form>
