@model List<ProfileViewModel>

@if(Model.Count != 0)
{
    foreach(ProfileViewModel p in Model)
    {
        <p>@p.Username</p>
        <a asp-controller="Profile" asp-action="FollowUser" asp-route-id="@p.Id">Follow</a>
    }
}
else
{
    <h2>No results were found for your search</h2>
}
