@model Post
<h2>Are you sure you want to delete this post?</h2>
<p>@Model.Content</p>
<a asp-action="DeletePost" asp-controller="Post" asp-route-postToDelete="@Model.Id">Yes</a>
<a asp-action="Index" asp-controller="Post">No</a>
