<form method="post" asp-controller="Post" asp-action="CreatePost">
    <h4>Post content:</h4>
    <textarea name="Content" id="Content" required maxlength="280"></textarea>
    <input type="submit" />
</form>
